<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="manifest" href="/manifest.json" />
    
    <link href="/css/common.css" rel="stylesheet" />
    <link href="/css/base.css" rel="stylesheet" />
    <script src="/lib/ionic/js/ionic.bundle.js"></script>
    <script src="/cordova.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/ForgetPasswordController.js"></script>
    <script src="/js/services.js"></script>
    <script src="/lib/ionic/js/angular-resource.min.js"></script>
    <script src="/lib/ionic/js/angular-cookies.min.js"></script>
    <script src="/lib/ionic/js/jquery-1.11.3.min.js"></script>
    <script src="/lib/ionic/js/jquery.cookie.js"></script>
</head>
<body>
    <div class="view">
      <div class="welcome-words">
        <h1>个人信息</h1>
        <a href="#" class="fl"><i class="text-icon icon-back"></i></a> <a href="#" class="fr"><i class="text-icon icon-more"></i></a></div>
    </div>
    <!--<div class="title2">二级文字标题信息
    <p class="title_s">输入提示信息</p></div>-->
    <ul class="mylist">
      <li> 头像<a href="#" ><span><img src="../img/user_pic.jpg" class="user_pic_s"></span><i class="text-icon icon-fr"></i></a></li>
      <li> 昵称<a href="#" ><span>迪丽热巴</span><i class="text-icon icon-fr"></i></a></li>
      <li> 性别<a href="#" ><span>男/女</span><i class="text-icon icon-fr"></i></a></li>
    </ul>
    <ul class="mylist">
      <li> 职务<a href="#" ><span>市场部副局级</span><i class="text-icon icon-fr"></i></a></li>
      <li> 所属公司<a href="#" ><span>某宝国际物流有限公司乌鲁木齐份公司</span><i class="text-icon icon-fr"></i></a></li>
    </ul>
    <ul class="mylist">
    <li> 手机<a href="#" ><span>+86 155 897 7898</span><i class="text-icon icon-fr"></i></a></li>
      <li> 座机<a href="#" ><span>+86 0411 8899776688</span><i class="text-icon icon-fr"></i></a></li>
      <li> 邮箱<a href="#" ><span>123456789@hotmail.com</span><i class="text-icon icon-fr fr"></i></a></li>
    </ul>
    <ul class="mylist">
      <li> <a href="#" class="quit">退出登陆</a></li>
    </ul>
    </body>
    
</html>g