<ion-view view-title="" hide-back-button="true"><!--重置密码————输入新密码页面 -->
    <!-- <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar> -->
    <ion-nav-buttons side="left">
        <a ng-click="ForgetPassword()" class="button button-icon icon ion-ios-arrow-back" style="color: #fff;" nav-direction="back"></a>
    </ion-nav-buttons>
    <ion-content style="background: #072c4c;" scroll="false" padiing="true">
        <!-- <div class="statusBarStyle"></div>
        <div class="navigation">
            <p class="navP" ng-click="goBack()"></p>
        </div> -->
        <div class="login_title">{{'dlzc_czmm' | translate }}<!-- 重置密码--></div>
        <div ng-controller="forgetpasswordController" class="login_content">
            <div class="login_title2">{{'dlzc_xmm'| translate}}<!-- 新密码-->
            </div>
            <!--重置密码 -->
            <p class="title_s">{{'dlzc_mmlwzmsz'| translate}}
                <!--密码可同时包含字母和数字，不少于6个字符 -->
            </p>
            <div class="login">
                <!-- 暗文密码输入框-->
                <div class="inputzone" style="display: block;" id="pass1">
                    <input style="padding: 0;" type="password" name="" placeholder="{{'dlzc_qsrmm'| translate}}" ng-model="model.password">
                    <!--请输密码 -->
                    <a class="fr" ng-click="showPsw()"><i class="text-icon icon-hide"></i></a>
                </div>
                <!-- 明文密码输入框-->
                <div class="inputzone" style="display: none;" id="pass2">
                    <input style="padding: 0;" type="text" name="" placeholder="{{'dlzc_qsrmm'| translate}}" ng-model="model.password">
                    <a class="fr" ng-click="hidePsw()"><i class="text-icon icon-show"></i></a>
                </div>

                <button type="submit" class="btn btn-primary" ng-click="resetSubmit()">{{'dlzc_wcxg'| translate}}<!--完成修改 --></button>
                </form>
                <!-- <div class="other-operation"> <span class="fr"><a href="#">找回密码</a></span><a href="#" class="fl">手机验证码登录</a> </div>-->
            </div>
        </div>
    </ion-content>
</ion-view>