<ion-view view-title="" can-swipe-back=”false” hide-back-button="false"><!-- 注册————注册协议页面-->
    <!-- <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar> -->
    <ion-content style="background: #072c4c;" overflow-scroll="true">
        <!-- <div class="statusBarStyle"></div>
        <div class="navigation">
            <p class="navP" ng-click="goBack()"></p>
        </div> -->
        <div class="login_title">{{'dlzc_zcxy' | translate }}<!-- 注册协议--></div>
        <div ng-controller="registerController" class="login_content">
            <div class="zwcn" id="zh_cn_showhide">欢迎您注册成为鲸准会员，请您在注册时阅读以下条款：
                <br> 一、关于会员资格
                <br>1、凡承认本网站会员注册条款的自然人均可成为鲸准会员。
                <br> 2、会员须提供详尽、准确的个人资料，且经常更新注册资料以符合会员实际情况。
                <br> 二、本网站会员注册条款的接受
                <br> 1、本网站运作权和解释权归鲸准所有。
                <br> 2、用户要想成为本网站会员，享受本网站的服务，必须完全接受和严格遵守会员注册条款。如果用户注册成功，即表示用户同意接受本注册条款，成为本网站会员，享受本网站规定的服务。
                <br> 三、会员应遵守的重要条款：
                <br> 1、本网站提供的所有内容仅供会员个人使用。
                <br> 2、严禁传播网上电子书籍，一经发现，将追究其相关责任。
                <br> (1)任何人注册成为鲸准会员必须接受鲸准网站使用条款，同时成为网站会员，拥有鲸准会员所具有的权利，同时需承担鲸准会员的义务。
                <br> (2)会员应当自觉遵守：爱国、守法、自律、真实、文明的原则；会员应当崇尚网上道德规范，遵守《全国人民代表大会常务委员会关于维护互联网安全的决定》以及中华人民共和国其他各项相关法律、法规。
                <br> (3)严禁发布任何含有违反国家法律、法规、危害国家安全、破坏民族团结及社会稳定内容的文章、言论，严禁发表任何包含种族、性别、宗教等歧视性内容，或者含有色情内容的文章、言论，不得对任何人进行侮辱、谩骂或其他任何形式的人身攻击。本站有权对会员的文章、言论进行审核，对违反上述禁止事项的文章、言论予以删除；情节严重者，本站将取消其注册用户资格。
                <br> (4)会员应当自行承担一切因自身行为而直接或者间接导致的民事或刑事法律责任。
                <br> (5)未经本站的授权或许可，任何会员不得借用本站的名义从事任何商业活动，也不得将本站作为从事商业活动的场所、平台或其他任何形式的媒介。禁止将本站用作从事各种非法活动的场所、平台或者其他任何形式的媒介。违反者若触犯法律，一切后果自负，本站不承担任何责任。
                <br> (6)本站将保留修改规则、删除不良言论及不定期清理版面的权力。
                <br> 四、会员的帐号，密码和安全性
                <br> 用户一旦注册成功，即成为本网站的会员，将得到一个会员帐号和密码。
                <br> 五、用户隐私制度
                <br> 尊重会员个人隐私是鲸准的基本政策。我们不会在未经会员授权时公开、编辑或透露其注册资料，或将客户名单出售、出租或租借给第三方。但为便于提供服务，我们有时会将信息提供给为我们工作的其他公司，并与该类公司签署详细的保密协议以保证会员个人隐私的安全。
                <br> 六、会员有以下行为而导致帐户被取消，责任自负
                <br> 1、违反本网站注册条款。
                <br> 2、有损害他人的的行为。
                <br> 3、违反中国的法律、法规
                <br> 七、知识产权与版权声明
                <br> 1、本网站中所有内容均受著作权法、版权法及其它相关法律的保护。任何人不能擅自复制、仿造这些内容。
                <br> 2、本网站提供的内容仅供会员个人使用，不得用于其它目的。
                <br> 八、法律声明及其它
                <br> 1、本服务条款受约于中华人民共和国国家法律，会员和本网站须一致同意服从中华人民共和国法院管辖。如发生会员注册条款与中华人民共和国法律相抵触时，则这些条款将完全按法律规定重新解释，而其它条款则依旧保持对会员产生法律效力和影响。
                <br> 2、本网站中的帮助信息、栏目的相关介绍及注意事项为本条款的附件，作为解释本条款的具体依据。

            </div>
            <div class="zwen" id="us_en_showhide">
                Whale Calling member Registration Agreement. 
                <br> You are welcome to register as a member of Whale Calling. Please read the following terms and conditions when you register:
                <br><br> I. About membership. 
                <br> 1. Any natural person who
                acknowledges the terms and conditions of membership registration on this website can become an Calling member of Whale Calling.
                <br> 2. Members are required to provide detailed and accurate personal data, and the registration data are updated
                frequently to meet the actual situation of members. 
                <br><br> II. Acceptance of the terms and conditions of membership registration on this website.
                <br> 1. The right of operation and interpretation of this website belongs to whale calling.
                <br> 2. If users want to become members of this website
                and enjoy the services of this website, they must fully accept and strictly abide by the terms and conditions of member registration. If the user registers successfully, it means that the user agrees to accept the terms of registration,
                become a member of this website and enjoy the services provided by this website. 
                <br><br> Ⅲ. Important provisions to be observed by members: 
                <br> 1. All the content provided on this website is for the personal use of members only. 
                <br> 2. The dissemination of online e-books is strictly prohibited. Once found, the relevant
                responsibility will be investigated. 
                <br> (1) anyone who registers as a Whale member must accept the terms of use of the Whale Calling website, become a member of the website, have the rights of a Whale Calling member, and assume the obligations
                of a Whale Calling member.
                <br> (2) members shall consciously abide by the principles of patriotism, law-abiding, self-discipline, truthfulness and civilization; members shall advocate online ethics, abide by the decision of the standing
                Committee of the National people's Congress on maintaining Internet Security and other relevant laws and regulations of the people's Republic of China.
                <br> (3) it is strictly forbidden to publish any article or speech that violates state
                laws and regulations, endangers national security, undermines national unity and social stability, and strictly forbids the publication of any discriminatory content such as race, sex, religion, or pornographic content, and shall not insult,
                abuse or attack anyone in any other form. This site has the right to examine the articles and comments of members, and delete articles and comments that violate the above prohibited matters; if the circumstances are serious, this site
                will disqualify its registered users.
                <br>(4) members shall bear all civil or criminal liabilities directly or indirectly caused by their own acts.
                <br>(5) without the authorization or permission of this site, no member may engage in any commercial activities in the name of this site, nor may it be used as a place, platform or any other form of media for commercial activities. It
                is forbidden to use this site as a place, platform or any other form of media to engage in all kinds of illegal activities. If the violator violates the law, he or she will bear all the consequences, and this site will not bear any responsibility.
                <br>(6) this site reserves the right to amend the rules, delete undesirable remarks and clean up the page irregularly.
                <br><br>IV. Account number, password and security of members. Once the user has successfully registered, he or she will become a member of this website and will get a member account number and password.
                <br><br>V. User privacy system.
                <br>Respecting the privacy of members is the basic policy of whale. We will not disclose, edit or disclose the registration information of the member without the authorization of the member, or sell, rent or lease the customer list to
                a third party. However, in order to facilitate the provision of services, we sometimes provide information to other companies that work for us and sign detailed confidentiality agreements with such companies to ensure the privacy of our
                members.
                <br><br>Ⅵ. Members shall be held responsible for the cancellation of their accounts as a result of the following acts.
                <br>1. Violation of the registration terms and conditions of this website.
                <br>2. The act of harming others.
                <br>3. Violate Chinese laws and regulations.
                <br><br>VII. Declaration of intellectual property and copyright.
                <br>1. All content on this website is protected by copyright law, copyright law and other relevant laws. No one can copy or copy these contents without authorization.
                <br>2. The content provided on this website is for the personal use of members only and may not be used for other purposes.
                <br><br>Ⅷ. Legal statements and others.
                <br>1. These terms of service are subject to the national laws of the people's Republic of China. Members and this website must agree to obey the jurisdiction of the courts of the people's Republic of China. In the event that the terms
                of member registration contravene the laws of the people's Republic of China, these terms will be reinterpreted in full accordance with the provisions of the law, while other provisions will continue to have legal effect and impact on
                the members.
                <br>2. The help information in this website, the relevant introduction of the column and the matters needing attention are the attachment to this clause and serve as the specific basis for interpreting this clause.
            </div>


        </div>
    </ion-content>
</ion-view>