<ion-view view-title="{{'sjqty_gkss'|translate}}" hide-back-button="false">
    <!-- <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-title>{{'sjqty_gkss'|translate}}</ion-nav-title>
    </ion-nav-bar> -->
    <ion-content scroll="false" style="touch-action: none;" ng-init="init()">
        <!-- <div class="statusBarStyle"></div>
        <div class="navigation">
            <p class="navP" ng-click="gotoTop()"></p>
            <p class="navTille">{{'sjqty_gkss'|translate}}</p>
        </div> -->
        <div class="head_so">
            <div class="head_p">
                <i class="icon-so"></i>
                <!-- <input type="text" name="" maxlength="15" ng-model="user.text" id="startPort" ng-keypress="todoSomething($event)" placeholder="{{'sjqty_qxzgk'|translate}}" ng-if="type == 'start'"> -->
                <input type="text" name="" maxlength="15" ng-model="user.text" ng-model-options="{ debounce: 400 }" id="startPort_track" ng-keypress="todoSomething($event)" placeholder="{{'sjqty_qxzgk'|translate}}" ng-change="getPod()" ng-if="type != 'start'">
                <a ng-click="close()">
                    <i class="icon-close"> </i>
                </a>
            </div>
        </div>

        <!-- 起始港跟踪 -->
        <div class="porshow_list" ng-if="type=='start-track'">
            <div class="porshow_list_title">{{'sjqty_tjgk'|translate}}</div>
            <div>
                <ion-scroll direction="y" scroll-height>
                    <div class="porshow_list_info" ng-repeat="data in polList_ | startPortFilter_track : user.text" ng-click="selectItem(data) " style="height: 65px; ">
                        <a>
                            <em>{{data.nameEn}}</em>
                            <b>{{data.nameCn}}</b>
                        </a>
                        <span ng-if="lan=='zh-cn'">{{data.countryCn}}</span>
                        <span ng-if="lan=='us-en'">{{data.countryEn}}</span>
                    </div>
                </ion-scroll>
            </div>
        </div>
        <div id="poltrackListShow_track" style=" margin-top: 1em;text-align: center;font-size: 16px;color: #909090;">
            {{'sjcq_zwgk'|translate}}
        </div>   
        <!-- 起始港船舶 -->
        <div class="porshow_list" ng-if="type=='start'">
            <div class="porshow_list_title">{{'sjqty_tjgk'|translate}}</div>
            <div>
                <ion-scroll direction="y" scroll-height>
                    <div class="porshow_list_info" ng-repeat="data in polsailList | startPortFilter_cb : user.text" ng-click="selectItem(data)" style="height: 65px;">
                        <a><em>{{data.nameEn}}</em>
                            <b >{{data.nameCn}}</b>
                        </a>
                        <span ng-if="lan=='zh-cn'">{{data.countryCn}}</span>
                        <span ng-if="lan=='us-en'">{{data.countryCode}}</span>
                    </div>
                </ion-scroll>
            </div>  
        </div>
        <div id="poltrackListShow" style=" margin-top: 1em;text-align: center;font-size: 16px;color: #909090;display: none;">
            {{'sjcq_zwgk'|translate}}
        </div>   
        <!-- 目的港 -->
        <div class="porshow_list" ng-if="type=='end'">
            <div class="porshow_list_title">{{'sjqty_tjgk'|translate}}</div>
            <div ng-if="podList.length>0">
                <ion-scroll direction="y" scroll-height>
                    <div class="porshow_list_info" ng-repeat="data in podList" ng-click="selectItem(data)" style="height: 65px;">
                        <a>
                            <em>{{data.cityEn}}</em>
                            <b>{{data.cityCn}}</b>
                        </a>
                        <span ng-if="lan=='zh-cn'">{{data.countryCn}}</span>
                        <span ng-if="lan=='us-en'">{{data.countryCode}}</span>
                    </div>
                </ion-scroll>
            </div>              
        </div>
        <div ng-if="podList.length==0 && type=='end'" style=" margin-top: 1em;text-align: center;font-size: 16px;color: #909090;">
            {{'sjcq_zwgk'|translate}}
        </div>


    </ion-content>
</ion-view>