<ion-view view-title="{{'sjgz_wdgz'|translate}}" hide-back-button="true">
    <ion-content ng-controller="trackController" ng-init="init()">
       
        <div class="gen_bar">
            <h1 style="display: block;">{{'sjgz_ksty'|translate}}!</h1>
            <p>{{'sjgz_gzcbhxhssdt'|translate}}！</p>
        </div>
        <!-- <div class="gen_bar"> <p class="title_p">{{'sjcq_cq' | translate }}</p><i class="icon_trackLogo"></i></div> -->
        <div class="add_bar"><a   ng-click="addTrack()"><em class="add_but">
            <i class="icon_add"></i>{{'sjgz_tjgz'|translate}}</em></a>
        </div>
        <dl class="sl">
            <dt>{{'sjgz_xhgz'|translate}} <em>{{'sjgz_sl'|translate}}</em></dt>
            <dd><img src="/img/shili1.jpg" width="100%"></dd>
        </dl>
        <dl class="sl">
            <dt>{{'sjgz_cbgz'|translate}} <em>{{'sjgz_cbgzsl'|translate}}</em></dt>
            <dd><img src="/img/shili2.jpg" width="100%"></dd>
        </dl>
        <div class="tishi">{{'sjgz_gjtstbqbxhhcb'|translate}}</div>
    </ion-content>
</ion-view>