<ion-view view-title="" hide-back-button="false"><!-- 重置密码-->
    <!-- <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar> -->
    <ion-content style="background: #072c4c;" scroll="false" padiing="true">
        <!-- <div class="statusBarStyle"></div>
        <div class="navigation">
            <p class="navP" ng-click="goBack()"></p>
        </div> -->
        <div class="login_title">{{'dlzc_czmm' | translate }}<!-- 重置密码--></div>
        <div ng-controller="forgetpasswordController" ng-init=fpgetCodeInit() class="login_content">
            <div class="login_title2">{{'dlzc_qsryzm'| translate}}<!-- 请输入验证码-->
            </div>
            <p class="title_s">{{'dlzc_yzmyfsz'| translate}}
                <span>{{item.phonecode}}&nbsp;{{item.phone}}</span><!-- 验证码已发送至-->
            </p>
            <div class="login">
                <input type="hidden" id="codeTime" value="60" />
                <form>
                    <ul class="inputzone1">
                        <li><label><input type="number" name="" id="code1" ng-model="model.code1" maxlength="1"  oninput="if(value.length>1)value=value.slice(0,1)" ng-change="checkcode(1)"></label></li>
                        <li><label><input type="number" name="" id="code2" ng-model="model.code2" maxlength="1"  oninput="if(value.length>1)value=value.slice(0,1)" ng-change="checkcode(2)"></label></li>
                        <li><label><input type="number" name="" id="code3" ng-model="model.code3" maxlength="1"  oninput="if(value.length>1)value=value.slice(0,1)" ng-change="checkcode(3)"></label></li>
                        <li><label><input type="number" name="" id="code4" ng-model="model.code4" maxlength="1"  oninput="if(value.length>1)value=value.slice(0,1)" ng-change="checkcode(4)"></label></li>
                        <li><label><input type="number" name="" id="code5" ng-model="model.code5" maxlength="1"  oninput="if(value.length>1)value=value.slice(0,1)" ng-change="checkcode(5)"></label></li>
                        <li><label><input type="number" name="" id="code6" ng-model="model.code6" maxlength="1"  oninput="if(value.length>1)value=value.slice(0,1)" ng-change="checkcode(6)"></label></li>
                        <div class="c"></div>
                    </ul>
                </form>
                <div class="other-operation_cxhq"> 
                    <span class="fl">
                        <span id="timing">
                            <em id="miao"></em>
                            {{'dlzc_cxhq'| translate}}<!--秒后重新获取 --> 
                        </span>
                        <a  style="color:#0066FF; display:none;" ng-click="getcode(2)" id="codebutton">{{'dlzc_hqyzm'| translate}}<!--获取验证码 -->
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>