<ion-view view-title="" can-swipe-back=”false” hide-back-button="false"><!-- 关于————服务协议页面 -->
    <ion-content has-bouncing="false">
        <div ng-controller="myController" ng-init="myaboutinit()">
            <div class="my_bar"> <p class="title_p">{{title}}</p></div>
            <div class="my_detail">
                <div class="agreement">
                    <!-- 隐私协议 -->
                    <div class="service_agreement" ng-if="myAboutId == 2">
                        <p>为说明上海鲸准航运物流有限公司、关联公司、或其他鲸准航运提供的网站、移动应用或软件上（简称“我们”）如何收集、使用和存储您的个人信息及您享有的权利，我们通过本《鲸准航运隐私政策》（“本政策”）向您阐述相关事宜。本政策适用于“鲸准航运”客户端、相关微信公众号、以及微信小程序等鲸准航运提供的所有产品及服务。本政策将帮助您了解以下内容：</p>
                        <p>1.我们如何收集您的个人信息；</p>
                        <p>2.我们如何使用Cookie和同类技术；</p>
                        <p>3.我们如何存储和保护您的个人信息；</p>
                        <p>4.我们如何使用您的个人信息；</p>
                        <p>5.我们如何共享、转让、公开披露您的个人信息；</p>
                        <p>6.您的权利；</p>
                        <p>7.本政策的更新；</p>
                        <p>8.如何联系我们。</p>
                        <p>【特别提示】请您在使用我们的产品/服务前，仔细阅读并充分理解本政策，做出您认为适当的选择。对本政策中与您的权益存在重大关系的条款和个人敏感信息，我们将采用粗体字进行标注以提示您注意。在更新本政策时，我们将通过弹窗、页面提示等方式另行向您说明对应信息的收集目的、范围及使用方式，并为您提供自主选择同意的方式，且在征得您明示同意后收集、使用。</p>
                        <p>您点击或勾选鲸准航运相关页面上的“同意“键或者以其他方式确认同意/接受本政策，即表示您接受本政策全部条款内容的约定并同意我们按照本政策处理您的个人信息。本政策以线上数据电文的形式订立，对您与鲸准航运均具有约束力。</p>
                        <p>如对本隐私政策或相关事宜有任何问题，您可随时通过访问我们官网或拨打客服电话等多种方式与我们联系。</p>
                        <p>1、我们如何收集您的个人信息</p>
                        <p>个人信息是指以电子或者其他方式记录的能够单独或者与其他信息结合识别特定自然人身份或者反映特定自然人活动情况的各种信息。本政策中包括：个人资料信息（包括但不限于姓名、性别、出生年月日、身份证信息、身份证照片、真实头像照片、面部识别特征、驾驶证、行驶证、手机号码、电子邮箱地址）、车辆信息及其他相关附加信息、支付账户信息、银行账户信息、验证信息、验证信息凭证、行程信息、位置信息、运单信息及交易状态、增值服务订单信息、支付信息、IP地址、日志信息以及您在其他合法留存您信息的自然人、法人以及其他组织处留存的信息等。</p>
                        <p>个人敏感信息是指一旦泄露、非法提供或滥用可能危害人身和财产安全，极易导致个人名誉、身心健康受到损害或歧视性待遇等的个人信息，本政策中涉及的个人敏感信息包括：手机号码、用户密码、身份证或其他身份证明、面部识别特征、征信信息、驾驶证、位置信息、行程信息、通话记录、录音录像、支付信息、提现记录、银行卡号、保单信息。</p>
                        <p>匿名化处理后的信息以及其他无法识别特定自然人身份或者反映特定自然人活动情况的信息不属于个人信息。</p>
                        <p>我们仅会出于以下目的，收集和使用您的个人信息：</p>
                        <p>1.1您须授权我们收集和使用您的个人信息的情形我们的产品和服务包括一些基本业务功能和扩展业务功能。基本业务功能包含了实时位置查询、轨迹查询、轨迹回放等实现物流信息交换所必需的功能、及保障服务正常运行和交易安全所必需的功能。我们可能会收集、保存和使用下列与您有关的信息才能实现上述这些功能。如果您不提供相关信息，您将无法享受我们提供的产品及/或服务。这些基本业务功能必须收集的信息包括：</p>
                        <p>1.1.1用户注册、认证所必需的信息您使用鲸准航运服务前，需要在本平台创建账号并完善个人咨料。通讨用户主动提仕的方式，鲸准航运会收集你的以下信息：</p>
                        <p>（1）当您注册成为鲸准航运用户或登录鲸准航运账号时，您需要向鲸准航运提供您本人的手机号码，并准确输入鲸准航运以短信形式发送至您手机的验证码，且允许鲸准航运获取您的手机IMEI信息，开启读写存储卡权限。鲸准航运以此识别您在本平台的网络身份和标识您的设备，并为您提供平台服务。如果您拒绝提供手机号码和验证码，或不允许鲸准航运获取您的手机IMEl信息，并开启读写存储卡权限，鲸准航运将无法为您创建账号并提供服务。</p>
                        <p>（2）当您在平台进行实名认证时，您需要向鲸准航运提供您个人的姓名、身份证号、本人真实头像照片、身份证照片以及手持身份证头像照片、面部识别特征信息或您的法定代表人/负责人/经营者/代表的姓名、身份证照片、身份证号码及/或公司的名称、统一信用代码证照片、住所地等。鲸准航运收集上述信息，是基于法律法规要求、保护用户人身财产安全、保障交易真实、依照平台规则处理用户纠纷之需要。为进行实名认证，鲸准航运将向鲸准航运合作的第三方提交您的前述信息，并从合法保存有您个人信息的第三方处获得、保存有关您身份信息的验证结果，如果您拒绝提供上述信息或拒绝鲸准航运作前述信息分享、保存，您将无法作为鲸准航运用户使用鲸准航运平台服务。</p>
                        <p>1.1.2物流信息交换和在线货物运输交易所必需的信息为实现用户定位实时位置、历史轨迹查询、发货找货、货源展示功能、促使平台其他用户与您沟通协商并在线达成运输交易，鲸准航运将在您使用平台过程中，收集您的以下信息：</p>
                        <p>（1）鲸准航运：您通过鲸准航运平台查询的车牌号、查询时间等，鲸准航运将通过信息记录的方式留存上述信息，以便用户发生纠纷或安全事故时，核实事实并处理投诉。如果您拒绝鲸准航运获取您的沟通信息，可能导致您无法使用鲸准航运的信息功能。</p>
                        <p>（2）货源信息：您在发布货源信息时，鲸准航运需您填写并提交的货源信息，包括起始地、目的地、联系方式、货物类型、名称信息及与货源相关的其他信息。鲸准航运收集上述信息，是基于物流信息交换及运输交易需要将该等信息提供给平台其他用户、以及基于法律法规要求及保护用户的财产安全、依照平台规则处理用户纠纷之必需。如果您拒绝提供上述信息，将导致平台无法为您提供服务。</p>
                        <p>1.1.3支付功能所必需的信息：</p>
                        <p>（1）为完成身份基本信息验证、绑定银行卡、支付、充值、提现、转账、收款功能必须，依据法律法规实名制管理相关规定，您需要向我们及合作的支付机构提供您的姓名、身份证号码、身份证照片、开户行名称、银行卡号、预留手机号，并允许我们将前述信息向合作方进行验证。我们将记录并保存您提供的上述信息以及您的账号、余额、支付记录。如果您拒绝提供上述信息，您将无法使用鲸准航运的银行卡支付功能、余额支付功能，但不影响您使用其他服务。</p>
                        <p>（2）您在鲸准航运使用交易支付时，如果您使用第三方支付功能，鲸准航运将获取您的支付工具、订单信息、支付账户风控信息及支付状态。</p>
                        <p>1.1.4客户服务所必需的信息当您与鲸准航运客服联系时，为验证您的身份，帮助您解决问题或记录相关问题的处理方案及结果，我们可能会保存您与我们的通信/通话记录及相关内容（包括账号信息、订单信息、您为了证明相关事实提供的其他信息，或您留下的联系方式信息），如果您针对具体订单进行咨询、投诉或提供建议的，我们会使用您的账号信息和订单信息。</p>
                        <p>为了提供服务与改进服务质量的合理需要，我们还可能使用的您的其他信息，包括您与客服联系时您提供的相关信息，您参与问卷调查时向我们发送的问卷答复信息。</p>
                        <p>1.1.5维护服务正常运行、保障交易安全所必需的信息当您使用鲸准航运时，为保障您正常使用我们的服务，维护我们服务的正常运行，改进及优化我们的服务体验以及保障您的账号安全，我们会收集您的设备型号、操作系统、唯一设备标识符、登陆IP地址、鲸准航运软件版本号、接入网络的方式、类型和状态、网络质量数据、设备加速器（如重力感应设备）等设备信息以及操作日志、服务日志（可能包括您在搜索、查看的信息、服务故障信息、引荐网址信息）等日志信息，这类信息是为提供服务必须收集的基础信息。</p>
                        <p>1.2您可选择是否授权我们收集和使用您的个人信息的情况除上述基本业务功能我们会收集和使用您的个人信息以外，我们的产品和服务还包括一些扩展业务功能，我们可能会在您使用扩展业务功能时收集和使用您的个人信息，如果您不提供这些个人信息，您依然可以基础鲸准航运和货源信息，但您可能将无法使用这些扩展业务功能：</p>
                        <p>1.2.1基于设备权限开启的扩展业务功能（1）位置信息的个性化推荐功能：我们会收集您的位置信息（我们仅收集您当时所处的地理位置，但不会将您各时段的位置信息进行结合以判断您的行踪轨迹）来判断您所处的地点，自动为您推荐您所在区域的附近货源。您可以授权提供您的位置信息，以便您基于所在地点位置接受个性化推荐，获得您的允许后，我们会通过IP地址等能够提供相关信息的其他传感器（如WiFi接入点和基站信息）来获取您的位置信息。如您拒绝我们获取您的位置信息，则需要您手动定位位置。</p>
                        <p>（2）基于语音技术的扩展功能：您可以直接使用麦克风与我们的在线客服进行咨询和互动。在这些功能中我们可能会在您使用语音消息时，收集您的录音内容以识别您的需求，识别交易中存在的风险，并在法律允许用于纠纷解决。您可以选择使用麦克风设备来进行语音输入，在使用过程中相关服务提供方需要收集您的语音内容并进行必要的处理。</p>
                        <p>（3）基于摄像头（相机）的扩展功能：您可以授权鲸准航运访问您的摄像头（相机）进行视频拍摄、拍照以及扫码，我们会识别您的视频、照片以及扫码信息来完成用户认证、客户服务、活体检测以及扫码支付功能。</p>
                        <p>（4）基于相册（图片库）的扩展功能：您可以授权鲸准航运访问您的相册并在鲸准航运上传您的照片来实现用户个人身份认证，我们会使用您所上传的照片来识别您的认证信息、客户服务信息或使用包含您所上传图片的评价。</p>
                        <p>（5）上述扩展功能可能需要您在您的设备中向我们开启您的地理位置（位置信息）、麦克风、通讯录、摄像头（相机）以及相册（图片库）的访问权限，以实现这些功能所涉及的信息的收集和使用。您可以手机设置功能逐项查看您上述权限的开启状态，并可以决定将这些权限随时的开启或关闭（我们会指引您在您的设备系统中完成设置）。请您注意，您开启这些权限即代表您授权我们可以收集和使用这些个人信息来实现上述的功能，您关闭权限即代表您取消了这些授权，则我们将不再继续收集和使用您的这些个人信息，也无法为您提供上述与这些授权所对应的功能。您关闭权限的决定不会影响此前基于您的授权所进行的个人信息的处理。</p>
                        <p>1.2.2参与运营活动</p>
                        <p>当您参加鲸准航运的运营活动时，鲸准航运需要您提供某些信息，可能会包含您的姓名、手机号码、电子邮箱地址、联系地址、银行卡号、车牌号码。这些信息可以帮助鲸准航运对活动进行宣传、与您取得联系、向您发放礼品、对活动结果进行公示等。如果您拒绝提供此类信息，可能导致您无法参加相应活动，或无法收到礼品，无法享受优惠，但不影响您使用鲸准航运基本业务功能。我们将会在鲸准航运相关页面提示您自行填写并提交或单独征求您的授权同意。</p>
                        <p>1.2.3开具发票</p>
                        <p>当您购买了鲸准航运上的产品或服务需要取得发票时，需要您提供发票抬头、纳税人识别号、税务登记地址、联系电话、开户行、银行卡号、电子邮箱、订单信息，收取发票的收件人姓名、联系电话、收件地址。鲸准航运收集前述信息后将向开具发票的第三方共享前述信息，鲸准航运收集这些信息及共享是为向您开具、邮寄发票。如您拒绝提供前述信息，将导致您无法通过鲸准航运开具、收取发票。</p>
                        <p>1.2.4平台协议文件的电子签约就您在鲸准航运上确认、同意的协议、规则、政策、文档等（统称“协议文件”），鲸准航运可能会将协议文件置于电子签约平台以数据电文形式在线签署并储存，并将您的个人信息（姓名、身份证号、手机号、银行卡号、电子邮箱地址及其他身份认证信息）报送给电子签约平台用于电子签名认证并生成数字证书，鲸准航运合作的电子签约平台将托管并调用您的数字证书代您生成电子签名。鲸准航运可能将协议文件内容发送到电子签约平台生成签约文本。协议文件使用的电子签约平台为可合法有效提供电子签约服务的平台。鲸准航运将向电子签约平台调取协议文件、您的签约信息、您的身份认证信息及与证明协议文件有效性、您的电子签名有效性相关的其他信息。如您不同意前述电子签约相关事项，可能无法与鲸准航运及/或第三方达成交易。</p>
                        <p>1.2.5开展数据分析、不断改善产品和服务为开展数据分析和更好改善鲸准航运服务，我们可能将业务中收集的个人信息用于统计分析和改进运营，我们可能通过您所在的位置、查询信息、浏览和搜索信息、充值记录、路线偏好、反馈内容进行统计分析，从而改进我们的产品、服务或营销计划；或为改进我们系统而进行的技术改造、网络维护、故障排除、内部政策与流程制定、生成内部报告等。</p>
                        <p>我们可能会根据数据分析结果通过系统向您发送推广信息，包括在小程序/App页面向您推送消息通知、给您发送推广短信等。如您不希望收到小程序/App页面上的消息通知，可以在移动端操作系统中的“通知”中心关掉对应的通知功能。如您不希望接收我们给您发送的推广短信，可根据短信中提供的退订方式予以退订。</p>
                        <p>1.2.6对第三方责任的声明</p>
                        <p>请您注意，您通过鲸准航运跳转功能访问的第三方网站经营者、通过鲸准航运接入的第三方服务（如有）可能有自己的隐私保护政策；当您查看第三方创建的网页或使用第三方开发的应用程序时，这些第三方可能会获取、使用您的个人信息，该等获取、使用不受鲸准航运的控制及本政策的约束。鲸准航运会尽商业上的合理努力去要求这些第三方对您的个人信息采取保护措施，但鲸准航运无法保证这些第三方一定会按照鲸准航运的要求采取保护措施，请您与这些第三方直接联系以获得关于他们的隐私保护政策的详细情况。如您发现这些第三方创建的网页或第三方开发的应用程序存在风险时，建议您终止相关操作以保护您的合法权益。</p>
                        <p>1.2.7其他服务收集、使用、提供信息另行征得同意如您选择使用我们提供的其他服务，基于该服务我们需要收集您的信息的，我们会另行向您说明信息收集的范围与目的，并征得您的同意。我们会按照本政策以及相应的用户协议约定使用、存储、对外提供及保护您的信息；如您选择不提供前述信息，您可能无法使用某项或某部分服务，但不影响您使用我们提供的其他服务。</p>
                        <p>1.2.8其他用途</p>
                        <p>我们将您的个人信息用于本政策未载明的其他用途，或者将基于特定目的收集而来的您的个人信息用于其他目的时，会单独征求您的授权同意。</p>
                        <p>请注意：无法与任何特定个人直接建立联系的数据，不属于个人信息。如果我们将无法与任何特定个人建立联系的数据与其他信息结合用于识别自然人个人身份，或者将其与个人信息结合使用，则在结合使用期间，此类信息将被视为个人信息。</p>
                        <p>2、我们如何使用Cookie和同类技术2.1Cookie是支持服务器端（或者脚本）在客户端上存储和检索信息的一种机制。我们不会将Cookie用于本隐私政策所述目的之外的任何用途。您可根据自己的偏好管理或删除 Cookie。您可以清除计算机或移动设备上保存的所有Cookie，您有权接受或拒绝Cookie。大多数浏览器会自动接受Cookie，但您通常可根据自己的需要来修改浏览器的设置以拒绝Cookie；另外，您也可以清除软件内保存的所有Cookie。但您可能因此无法完全体验我们某些便捷性和安全性的服务功能。</p>
                        <p>3、我们如何存储和保护您的个人信息</p>
                        <p>3.1信息保存期限</p>
                        <p>3.1.1在用户使用鲸准航运服务期间，鲸准航运会持续保存用户的个人信息。</p>
                        <p>3.1.2鲸准航运将按照法律、法规规定的为提供我们的服务之目的所必需的最短期限内保存您的个人信息。鲸准航运暂未提供删除个人信息或注销账户功能，如有需求，可咨询客服。</p>
                        <p>3.1.3为配合人民检察院、公安机关、国家安全机关侦查用户使用鲸准航运服务过程中产生的犯罪行为、更好地保护其他用户的财产安全，当用户不再使用所拥有的账户时，鲸准航运将在刑法规定的犯罪追诉时效期间内，加密隔离存档用户个人信息。</p>
                        <p>3.1.4如您使用鲸准航运服务的过程中，存在严重违反法律法规、平台协议、平台政策或规则等情形，您的违法、违约记录及相应的平台信用记录、个人信息，将被永久保存。</p>
                        <p>3.2信息存放地域</p>
                        <p>3.2.1鲸准航运收集的您的个人信息，将在中国内地存储和使用。</p>
                        <p>3.2.2目前鲸准航运不存在向境外提供个人信息的场景。如将来涉及向境外传输个人信息，鲸准航运将明确向您告知个人信息出境的目的、接收方、安全保障措施等情况，并另行征得您的同意。</p>
                        <p>3.3安全保护措施</p>
                        <p>3.3.1鲸准航运仅为实现本政策所述目的保留您的个人信息。</p>
                        <p>3.3.2鲸准航运会采用符合业界标准的安全防护措施，通过建立数据全生命周期的安全管理规范和相应的技术管控措施并使用相应的安全技术和管理程序来保护您的个人数据，在任何时候尽力做到使您的个人信息不被泄露、毁损、丢失、不当使用、未经授权阅览或披露。</p>
                        <p>3.3.3鲸准航运采取以下安全防护措施保护您的个人信息：</p>
                        <p>（1）建立针对个人数据安全的纵深防御体系，数据从创建、存储、使用、传输、归档、销毁各环节上均采用管理与技术的双重控制措施，避免集中性的数据操作风险。</p>
                        <p>（2）用户个人敏感信息被加密储并通过数据隔离措施降低数据风险。</p>
                        <p>（3）使用加密传输协议，保障数据传输安全。</p>
                        <p>（4）严格控制数据访问权限，设立完善的敏感数据访问权限申请、审批制度。</p>
                        <p>（5）建立数据安全监控和安全审计，进行全面数据安全控制。</p>
                        <p>3.3.4鲸准航运同时采取其他安全措施保护您的个人信息：</p>
                        <p>（1）建立公司信息安全委员会，统一协调管理数据安全工作，并下设数据安全小组，推动各项数据安全活动。</p>
                        <p>（2）公司内部颁布实施数据安全管理规范，明确对用户数据（包括用户个人信息）的保护标准和要求。</p>
                        <p>（3）新项目、新系统上线前对数据安全（包括用户个人信息数据）进行项目风险评估。</p>
                        <p>（4）与员工签署保密协议，并严格按照工作职责分配数据访问权限。</p>
                        <p>（5）定期开展面向全体员工的信息安全教育及培训。</p>
                        <p>3.4安全事件处置</p>
                        <p>3.4.1为应对个人信息泄露、毁损、丢失等可能出现的安全风险，已经在公司范围内颁布多项制度，明确了安全事故、安全漏洞的分类分级标准，以及针对上述安全事故和漏洞的内部处理流程和补救措施。</p>
                        <p>3.4.2一旦发生安全事件，鲸准航运将及时向您告知事件基本情况和风险、鲸准航运已经采取或将要采取的措施、您如何自行降低风险的建议等。</p>
                        <p>3.4.3鲸准航运将及时以推送通知、信函或电话等方式将安全事件情况通知受影响的用户。当难以逐一通知用户时，鲸准航运将通过发布平台公告的方式发布警示信息。同时，我们还将按照监管部门要求，主动上报个人信息安全事件的处置情况。</p>
                        <p>3.5停止运营</p>
                        <p>3.5.1如鲸准航运停止运营，鲸准航运将至少提前30日在鲸准航运平台发布公告，并及时停止收集个人信息。</p>
                        <p>3.5.2停止运营后，鲸准航运将停止对个人信息的商业化使用，并在满足法律法规规定的最短保存期后，对收集的个人信息进行匿名化处理。</p>
                        <p>4、我们如何使用您的个人信息</p>
                        <p>4.1您的个人信息会被用于本政策第1条“我们如何收集您的个人信息”条款明确列明的使用场景。</p>
                        <p>4.2您的个人信息可能被用于以下与“我们如何收集您的个人信息”条款所声称的目的具有直接或合理关联的场景：</p>
                        <p>4.2.1在鲸准航运提供服务时，用于身份验证、用户服务、安全防范、诈骗监测、存档和备份用途，以提高鲸准航运向您提供服务的安全性；用于预防、发现、调查欺诈以及危害安全、非法或违反与鲸准航运签订的协议、鲸准航运政策或规则的行为，以保护您、其他鲸准航运用户、鲸准航运及其他善意第三方的合法权益；</p>
                        <p>4.2.2鲸准航运可能利用个人信息统计数据为基础设计、开发、推广全新的产品及服务，或用于改善鲸准航运现有服务；</p>
                        <p>4.2.3鲸准航运可能将来自鲸准航运某项服务的个人信息与来自其他项服务的信息或来自第三方的您的个人信息结合起来，进行用户画像，从而针对性地回应您在位置设定、个性化的帮助服务、展示、推荐和指示方面的个性化需求，前述情形的应用场景有货源推荐、货源排序、消息通知、广告展示、运营活动推送以及地图路线推荐等等。</p>
                        <p>4.2.4鲸准航运会自行或委托第三方向您发送信息的通知，包括但不限于为保证服务完成所必需的验证信息、使用产品或服务时所必要的推送通知、服务状态通知、关于鲸准航运的新闻、营销活动及其他商业性电子信息、鲸准航运合作第三方的推广信息，或其他您可能感兴趣的内容。如您不希望继续接收上述信息，可以根据信息中提供的退订方式予以退订；</p>
                        <p>4.2.5鲸准航运可能会对鲸准航运服务进行统计，并可能会与公众或第三方分享这些统计信息，但这些统计信息不包含您的身份识别信息；</p>
                        <p>4.2.6为了让您有更好的体验、改善鲸准航运服务或您同意的其他个人信息用途，在符合相关法律法规的前提下，鲸准航运可能将通过某一项鲸准航运服务所收集的信息，以汇集信息或者个性化的方式，用于鲸准航运的其他服务或者与鲸准航运合作伙伴共享信息以便他们向您发送有关其产品和服务的信息。</p>
                        <p>4.3您充分知晓，鲸准航运收集、使用、向第三方提供以下信息无需征得您的授权同意：</p>
                        <p>4.3.1与鲸准航运履行法律法规规定的义务相关的；</p>
                        <p>4.3.2与国家安全、国防安全有关的；</p>
                        <p>4.3.3与公共安全、公共卫生、重大公共利益有关的；</p>
                        <p>4.3.4与犯罪侦查、起诉、审判和判决执行等有关的；</p>
                        <p>4.3.5出于维护您或其他用户的生命、财产等重大合法权益但又很难得到您本人同意的；</p>
                        <p>4.3.6您自行向社会公众公开的您的个人信息；</p>
                        <p>4.3.7从合法公开披露的信息中收集的您的个人信息的，如合法的新闻报道、政府信息公开等渠道；</p>
                        <p>4.3.8根据您的要求签订和履行合同所必需的信息；</p>
                        <p>4.3.9用于维护所提供的产品与/或服务的安全稳定运行所必需的，例如发现、处置产品与/或服务的故障；</p>
                        <p>4.3.10为合法的新闻报道所必需的；</p>
                        <p>4.3.11国家机关、事业单位、学术研究机构或该等单位授权的主体基于公共利益所必要或基于公共利益开展统计或学术研究所必要，且对外提供研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的；</p>
                        <p>4.3.12您在使用鲸准航运服务时输入的其他用户或除本政策以外的第三方可在鲸准航运上看见或知悉的信息；</p>
                        <p>4.3.13鲸准航运收集到的您在鲸准航运发布的有关信息数据，包括但不限于鲸准航运、轨迹查询、货源信息、提醒任务；</p>
                        <p>4.3.14您的信用评价信息、您违反法律规定、《鲸准航运用户服务协议》及/或鲸准航运的其他规则向鲸准航运提交的个人信息、实施的行为；</p>
                        <p>4.3.15其他用户对您的投诉、举报信息；</p>
                        <p>4.3.16因您发生本条第4.3.14、4.3.15项的情形，鲸准航运对您采取的措施；</p>
                        <p>4.3.17鲸准航运基于您及其他用户的个人信息进行的数据分析及得出的结论；</p>
                        <p>4.3.18其他依法不属于个人信息的信息。</p>
                        <p>4.4凡是超出本政策第1条“我们如何收集您的个人信息”条款声称目的以及本条所述范围使用您的个人信息，鲸准航运将再次向您告知并征得您的明示同意。</p>
                        <p>5、我们如何共享、转让、公开披露您的个人信息</p>
                        <p>5.1共享</p>
                        <p>5.1.1除以下情形外和本政策另有约定外，未经您同意，鲸准航运不会与任何第三方分享您的个人信息：</p>
                        <p>（1）实现本政策第1条所述为实现鲸准航运基本业务功能必须收集的信息所述目的，只有共享您的个人信息，才能提供您所需要的服务；</p>
                        <p>（2）为便于平台上的其他用户通过您提供的手机号码与您联系，同时严肃交易秩序、建立交易双方的信任感、保障信息的真实性，提升平台信息撮合的成功率，我们会将您的手机号、用户名、头像和基站定位信息向平台上的其他用户展示。</p>
                        <p>（3）处理您与他人的纠纷或争议（基于法定情形下：根据法律法规的规定、诉讼争议解决需要，或行政、司法等有权机关依法提出的要求）；</p>
                        <p>（4）为了判断您的账户或交易是否安全；</p>
                        <p>（5）为实现基本业务功能，我们可能委托授权合作伙伴为您提供某些服务或代表我们履行职能，我们仅会出于本政策声明的合法、正当、必要、特定、明确的目的共享您的信息，授权合作伙伴只能接触到其履行职责所需信息，且不得将此信息用于其他任何目的。可能的委托授权合作伙伴包括：技术基础设施服务、衡量广告和服务的有效性、人脸识别服务、语音识别服务、消息推送服务、短信运营商、第三方支付机构、电子签名认证机构及提供位置数据服务的供应商、承包商及代理；我们会对授权合作伙伴获取有关信息的应用程序接口（API）、软件工具开发包（SDK）进行严格的安全检测，并与授权合作伙伴约定严格的数据保护措施，令其按照我们的委托目的、服务说明、本政策以及其他任何相关的保密和安全措施来处理个人信息； </p>
                        <p>（6）与鲸准航运履行法律法规规定的义务相关的；</p>
                        <p>（7）为遵守适用的法律法规、维护社会公共利益，或保护鲸准航运、鲸准航运的用户、雇员的人身、财产安全或其他合法权益所必须使用的合理用途；</p>
                        <p>（8）您出现违反有关法律规定或者《鲸准航运用户服务协议》或平台规则的情况，需要向第三方披露您的个人信息；</p>
                        <p>（9）根据法律规定、行政监管、刑事侦查机关为调查犯罪，依法定程序调取的必要个人信息，或行政机关、司机机构依法定程序调取的必要个人信息；</p>
                        <p>（10）履行鲸准航运在《鲸准航运用户使用协议》或本政策中的义务和行使鲸准航运的权利，以及其他鲸准航运根据法律规定、《鲸准航运用户使用协议》及/或鲸准航运的其他规则认为有必要披露的情形。</p>
                        <p>5.1.2您在使用鲸准航运第三方提供的服务或鲸准航运与其他第三方进行联合推广活动时，鲸准航运可能根据第三方要求收集您的相关信息提供给第三方数据服务商、第三方商家，或共享活动过程中产生的、为完成活动所必要的个人信息。我们会在您接受服务前明确告知所涉及个人信息的目的、类型以及披露对象等，并征得您的明示同意。</p>
                        <p>5.1.3在本政策第5.1条所述情形下，鲸准航运可能将您的个人信息与鲸准航运的关联公司（包括但不限于鲸准航运平台及其运营主体以及该等运营主体的关联公司）分享，您同意鲸准航运的关联公司在获取您的个人信息后，为本政策第5.1条所述的目的或用途，鲸准航运的关联公司可向第三方分享您的个人信息。</p>
                        <p>5.1.4鲸准航运可能将个人信息统计数据、脱敏数据及/或加密数据提供给鲸准航运的合作方，用于进行产品测试、建造风控模型、基础设计、开发、推广全新的产品及服务，或用于改善鲸准航运现有服务；</p>
                        <p>5.1.5除本政策约定的鲸准航运将您的个人信息提供给第三方的情形以外，如基于其他情况鲸准航运需将您的个人信息提供给第三方，鲸准航运将按照法律法规的要求以确认协议、具体场景下的文案确认动作等形式另行征得您的同意。</p>
                        <p>5.1.6除本政策另有约定外，非经法定程序或获得您的同意，鲸准航运不会将您的个人信息提供给任何第三方机构或个人。对鲸准航运与之共享个人信息的公司、组织和个人，鲸准航运会努力与之签署保密协议，要求他们按照鲸准航运的说明、本政策及其他任何相关的保密和安全措施来处理个人信息。</p>
                        <p>5.2转让</p>
                        <p>随着鲸准航运业务的持续发展，我们及我们的关联方有可能进行合并、收购、资产转让或类似的交易等变更，您同意授权鲸准航运有权将您的个人信息作为此类交易的一部分而被转移。如涉及个人信息的转让，我们会要求受让您个人信息的公司、组织继续接受本隐私政策的约束，否则，我们将要求该公司、组织重新征求您的授权同意。</p>
                        <p>5.3公开披露</p>
                        <p>我们仅会在以下情况下，且采取符合业界标准的安全防护措施的前提下，才可能公开披露您的个人信息：</p>
                        <p>5.3.1根据您的需求，在您明确同意的披露方式下披露您所指定的个人信息；</p>
                        <p>5.3.2根据法律、法规的要求、强制性的行政执法或司法要求所必须提供您个人信息的情况下，我们可能会依据所要求的个人信息类型和披露方式公开披露您的个人信息。在符合法律法规的前提下，当我们收到上述披露信息的请求时，我们会要求必须出具与之相应的法律文件，如传票或调查函。</p>
                        <p>5.4共享、转让、公开披露个人信息时事先征得授权同意的例外以下情形中，共享、转让、公开披露您的个人信息无需事先征得您的授权同意：</p>
                        <p>5.4.1与鲸准航运履行法律法规规定的义务相关的；</p>
                        <p>5.4.2与国家安全、国防安全有关的；</p>
                        <p>5.4.3与公共安全、公共卫生、重大公共利益有关的；</p>
                        <p>5.4.4与犯罪侦查、起诉、审判和判决执行等有关的；</p>
                        <p>5.4.5出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</p>
                        <p>5.4.6其他维护公共利益的情形，例如您的信用评价信息需要被公开、共享；</p>
                        <p>5.4.7您自行向社会公众公开的个人信息；</p>
                        <p>5.4.8从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道。</p>
                        <p>5.4.9根据法律规定，共享、转让、公开披露经去标识化处理的个人信息，且确保数据接收方无法复原并重新识别个人信息主体的，我们对此类数据的处理将无需另行向您通知并征得您的同意。</p>
                        <p>请注意：您在使用我们服务时自愿发布甚至公开分享的信息，可能会涉及您或他人的个人信息甚至个人敏感信息，如您的交易信息，以及您在评价时选择上传包含个人信息的文字、图片或视频等各种形式的信息。请您在使用我们的服务时更加谨慎地考虑，是否要发布甚至公开分享相关信息。</p>
                        <p>6、您的权利</p>
                        <p>6.1.1对于您合理的请求，我们原则上不收取费用，但对多次重复、超出合理限度的请求，我们将视情收取一定成本费用。对于那些无端重复、需要过多技术手段（例如，需要开发新系统或从根本上改变现行惯例）、给他人合法权益带来风险或者非常不切实际（例如，涉及备份磁带上存放的信息）的请求，我们可能会予以拒绝。</p>
                        <p>6.1.2在以下情形中，按照法律法规要求，我们将无法响应您的请求：</p>
                        <p>（1）与国家安全、国防安全直接相关的；</p>
                        <p>（2）与公共安全、公共卫生、重大公共利益直接相关的；</p>
                        <p>（3）与犯罪侦查、起诉、审判和判决执行等直接相关的；</p>
                        <p>（4）有充分证据表明您存在主观恶意或滥用权利的；</p>
                        <p>（5）响应您的请求将导致您或其他个人、组织的合法权益受到严重损害的。</p>
                        <p>（6）涉及商业秘密的。</p>
                        <p>7、本政策的更新</p>
                        <p>7.1如鲸准航运发生以下变化，鲸准航运将及时对本政策进行相应的修订：</p>
                        <p>7.1.1本政策生效后，本政策代替鲸准航运之前发布的或您之前签署、确认的《鲸准航运用户隐私权保护协议》；本政策生效前，仍按《鲸准航运用户隐私权保护协议》执行，《鲸准航运用户隐私权保护协议》中未尽的事宜，按本政策执行。</p>
                        <p>7.1.2鲸准航运业务功能发生变更。</p>
                        <p>7.1.3用户个人信息保存地域发生变更。</p>
                        <p>7.1.4用户个人信息的收集、使用规则发生变更。</p>
                        <p>7.1.5鲸准航运的联络方式及投诉渠道发生变更。</p>
                        <p>7.1.6发生其他可能影响用户个人信息安全或影响用户隐私权利的变更等。</p>
                        <p>7.2本政策修订后，上海鲸准航运服务有限公司会在鲸准航运发布最新版本，并以显著的方式（包括我们会通过鲸准航运公示的方式进行通知甚至向您提供弹窗提示）告知您，以便您及时了解最新版本的本政策，如无特殊说明，修订后的协议自公布之日起7日后生效。</p>
                        <p>8、如何联系我们</p>
                        <p>8.1如果您对个人信息保护问题有投诉、建议、疑问，您可以通过鲸准航运官网（https://www.ijingzhun.com）、微信公众号的客服系统联系我们，或将问题邮寄至下列地址：上海市虹口区广灵四路116号1号楼305室。</p>
                        <p>8.2我们将尽快审核所涉问题，并在验证您的用户身份后的三十个工作日内回复。</p>
                        <p>如果您对我们的回复不满意，特别是认为我们的个人信息处理行为损害了您的合法权益，您还可以通过向被告住所地有管辖权的法院提起诉讼来解决。</p>
                        <p>鲸准航运隐私政策</p>
                        <p>更新日期：2020年12月8日</p>
                        <p>生效日期：2020年12月8日</p>
                    </div>
                    <!-- 服务协议 -->
                    <div class="privacy_agreement" ng-if="myAboutId == 1">
                        <!-- <p>鲸准航运用户服务协议</p>
                        <p>服务协议的确认和接纳</p> -->
                        <p>鲸准航运网站（域名为www.ijingzhun.com）和鲸准航运软件由上海鲸准航运服务有限公司运营，涉及航运物流大数据和专业SAAS服务、国际物流电商服务、物流运输代理相关业务以及提供相关信息咨询服务，具体产品服务由鲸准航运或具有资质的服务商提供。如果用户（“用户”或“您”）在本网站、鲸准航运关联公司网站或其他鲸准航运提供的移动应用或软件上（以下简称“鲸准航运”），访问、预定或使用我们的产品或服务（以上统称为“服务”），便视为用户接受了以下服务协议，请您仔细阅读以下内容。如果您不同意以下任何内容，请立刻停止访问鲸准航运网站或停止使用鲸准航运软件。您在完全同意协议内容并按要求完成注册程序和相关审核要求后，您将享受相对应的服务。通过访问或使用鲸准航运，即视为您同意遵守本协议内容，包括协议正文、附件及所有已经发布的或将来可能发布的各类规则，所有规则为本协议不可分割的部分，与协议内容具有同等的法律效力。在您登录鲸准航运并使用相关服务时，《服务协议》即时生效，在之后的服务使用过程中用户均应遵守本协议的约定。</p>
                        <p>第一条 服务条款的修改</p>
                        <p>鲸准航运会在必要时修改服务条款，如制订、修改本协议及/或各类规则向用户提供基于互联网以及移动网的相关服务的，应在本页面及其相应页面提前公布通知，用户应该定期登陆本页面及其他相关页面，了解最新的协议内容。变更后的协议和规则在本页面及相关页面公布后七天，将自动生效。如您不同意相关变更，应当立即停止访问鲸准航运网站或停止使用鲸准航运软件，若用户在协议和规则变更七日后继续使用鲸准航运服务的，即表示您接受已经修订的协议和规则。此时由于用户不同意相关修订导致正在进行的交易终止所造成的双方损失，由用户承担。</p>
                        <p>第二条 用户信息及信息保密</p>
                        <p>1、鲸准航运用户包括“个人用户”，和能够承担法律责任的企业法人用户（以下简称“企业用户”）。用户按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后成为个人用户。企业用户需要先通过鲸准航运的审核，企业用户在接受审核时，需填写正确真实的企业信息，并上传“营业执照”副本扫描件，经审核完成后成为鲸准航运注册企业用户。所有用户在使用鲸准航运服务期间，若有违反本协议相关规定，用户资格和账号可能被注销、暂时冻结或者永久冻结。账户注销后，相应的会员名将开放给任意用户注册登记使用。</p>
                        <p>2、用户有义务维护自己在鲸准航运平台中的账户信息的完整性、密码的保密性。用户应不允许他人通过自己的账户使用鲸准航运，因用户自身维护或保密不善致使相关信息泄露，或由于第三方盗用用户帐号和密码进行各种操作而造成的损失，由用户自行负责。</p>
                        <p>3、用户应当对其账户安全负责。如果用户发现任何人不当使用其账户或有任何其他可能危及其账户安全的情形时，应当立即以有效的方式通知上海鲸准航运服务有限公司并自行报警，鲸准航运为保证用户权益，有权在暂停相关服务前要求用户提供相关身份证明。鲸准航运对在采取行动前已经产生的后果，包括但不限于用户的任何损失，不承担任何责任。涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，鲸准航运将予以严格保密，除非得到用户的授权或法律另有规定，鲸准航运不会向外界披露用户隐私信息。</p>
                        <p>第三条 所有权及知识产权</p>
                        <p>1、上海鲸准航运服务有限公司是本网站的制作者及拥有者,拥有此网站内容及资源的著作权等合法权利,受国家法律保护,有权不定时地对本协议的内容进行修改，并公开发布，无须另行通知用户。在法律允许的最大限度范围内，鲸准航运对本协议及本站内容拥有解释权。</p>
                        <p>2、除法律另有强制性规定外，未经上海鲸准航运服务有限公司明确的书面许可,任何单位或个人不得以任何方式全部或部分复制、转载、引用、链接、抓取或以其他方式使用从鲸准航运得到的信息内容，否则，鲸准航运有权追究其法律责任。</p>
                        <p>3、鲸准航运及其平台用户应保证其合法拥有履行本协议的一切必要权利（包括但不限于针对货物、信息和技术的相关知识产权、所有权、使用权、收益权等），且不侵犯对方及任何第三方的合法权利或权益；任何一方都应对其所有或经授权使用的权利之瑕疵导致的一切后果和损失独立承担全部责任。</p>
                        <p>4、鲸准航运所发布的资料信息（诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件），均是鲸准航运或其内容提供者的财产，受中国和国际版权法的保护；所有内容的汇编是鲸准航运的排他财产，受中国和国际版权法的保护；所有软件都是上海鲸准航运服务有限公司或其关联公司或其供应商的财产，受中国和国际版权法的保护。</p>
                        <p>第四条 责任限制及不可抗力</p>
                        <p>1、除非另有明确的书面说明，鲸准航运提供给您的全部信息、内容、材料、产品（包括软件）和服务，均是在"按现状"和"按现有"的基础上提供的。除非另有明确的书面说明，鲸准航运不对其网站运营、软件运营及其包含的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的声明或担保（根据中华人民共和国法律另有规定的以外）。</p>
                        <p>2、鲸准航运不保证网站、软件是不受干扰的、没有故障的，不对因人为或非人为因素造成的用户与鲸准航运服务器之间的连接受阻而无法访问负责。鲸准航运用户需同意独立承担因互联网的特殊性而产生的包括黑客攻击、电脑病毒、未经授权的进入、互联网连通中断或者系统故障、电信部门技术调整导致的影响、政府管制而造成的暂时性关闭在内的任何影响网络正常运营的因素导致的意外中断、操作或传输的迟延、引起的损失。</p>
                        <p>3、因不可抗力（包括但不限于自然灾害、罢工或骚乱、暴动、战争行为、政府行为）等非鲸准航运原因，致使鲸准航运履行迟延或不能履行的，鲸准航运不承担任何责任。但鲸准航运应在不可抗力发生后及时通知用户并采取措施，尽最大努力减轻可能给用户造成的损失。</p>
                        <p>4、用户不得将本协议项下的利益转让给与本协议无关的第三方，否则鲸准航运有权随时解除本协议或拒绝提供服务；服务终止的，用户仍应支付已经履行部分的费用，费用不足以弥补鲸准航运损失的，鲸准航运有权向用户进一步追偿。</p>
                        <p>第五条 用户依法言行义务</p>
                        <p>1、用户在使用鲸准航运服务中的所有行为应遵守国家法律、法规、规章、规范性文件等规定及本协议的规定和要求，不违背社会公德，不损害国家或者任何第三人的任何合法权益。否则，产生的一切法律后果均由用户独立承担，并在此承诺若违反本项条款鲸准航运免于承担任何责任。</p>
                        <p>2、鲸准航运保有删除网站、软件内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。</p>
                        <p>3、若用户未遵守以上规定的，鲸准航运有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。</p>
                        <p>第六条 用户责任与义务</p>
                        <p>1、用户应清楚、明确地选择购买各项服务。用户应保证其在鲸准航运提交的任何有关订单的信息和资料都是真实和准确的。有特殊要求的，用户必须以书面形式（如“备注”等）提出，由鲸准航运审核通过后实行。</p>
                        <p>2、用户理解并同意，因服务相关内容填写不准确或不实所造成的一切责任或损失应由用户承担。在鲸准航运不知情的情况下，由于违反国家规定或者属于违法行为等而造成鲸准航运及其服务商被国家机关处罚的情况，用户应承担因此处罚而导致的一切费用及其它不良后果。</p>
                        <p>3、用户如需对订单进行更改，应以书面形式通知鲸准航运，鲸准航运审核通过后实行；由订单更改所产生的一切费用、责任均由用户承担。若因客观原因正在进行的订单无法修改时，相关损失、责任由用户承担。</p>
                        <p>4、用户应在系统推送信息指定的时间内提交相关资料、确认提单内容，以及提供各类申报信息，逾期造成的费用、责任由用户承担。</p>
                        <p>5、用户理解并同意，查询车辆位置需要征得车主本人的同意，鲸准航运提醒用户查询前必须提前和车主沟通好查询事宜，并取得车主授权，以免出现侵权的情况；如用户未征得车主同意，查询了车辆位置，由此带来的法律责任将由用户自行承担。即使征得了车主同意，为避免侵权，鲸准航运敬告用户勿将车辆位置泄露给第三方。</p>
                        <p>第七条 费用结算与支付</p>
                        <p>1、费用结算的具体约定以鲸准航运与客户所签定的实际业务合同内容执行，特殊产品服务鲸准航运接受预付款预订服务。</p>
                        <p>2、鲸准航运支持线上电子支付及电汇方式支付。无论何种支付方式，企业用户以私对公帐户支付相关费用的客户，需要在完成支付前提交订单委托方授权的代付款委托书，并加盖订单委托方的公司公章以证明付款人与订单委托方的关系。</p>
                        <p>3、若用户违反费用结算相关约定，鲸准航运有权单方面解除本协议，并有权不经另行通知，单方面停止服务和扣押相关单据，直至费用全部付清；由此产生的一切风险、责任、费用及对鲸准航运造成的损失，全部由用户承担。</p>
                        <p>4、鲸准航运将根据用户的选择方式送达相关业务文件、资料。若用户选择电子文件、资料可直接通过鲸准航运网站、软件下载；若用户选择纸质文件、资料，鲸准航运会通过委托快递将文件、资料寄送到用户指定地址；此种情况下用户应自行承担因快递原因所造成的一切损失。</p>
                        <p>5、发票抬头默认为订单用户名称；用户负责确保发票开具信息的真实性和完整性，若鲸准航运有需要，用户应配合提供各项认证材料。由于客户信息填写错误而造成的发票修改，由此产生的费用或其它寄送问题，应由用户承担。</p>
                        <p>6、无论中国境内或境外的用户通过平台委托鲸准航运进行服务，代理人均为上海鲸准航运服务有限公司。鲸准航运境外分公司或境外代理有权负责对中国境外用户出具相关发票，。中国境外用户应将相关运费付至鲸准航运境外分公司或境外代理帐户。</p>
                        <p>第八条 法律管辖和适用</p>
                        <p>本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区的有效法律（但不包括其冲突法规则）。 如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向中国上海市虹口区人民法院提起诉讼。</p>
                        <p>第九条 其他</p>
                        <p>1、鲸准航运网站、软件所有者是指在政府部门依法许可或备案的鲸准航运网站、软件经营主体。</p>
                        <p>2、您在注册时选择"同意该协议"并完成注册即视为您完全接受本协议，在点击之前请您再次确认已知悉并完全理解本协议的全部内容。</p>
                        <p>3、用户同意，上海鲸准航运服务有限公司有权将本合同项下的全部或者部分权利转让于其它关联公司，而仅有通知的义务，包括但不限于通过平台公告或电子邮件等方式通知用户。</p>
                        <p>鲸准航运免责说明</p>
                        <p>鲸准航运提醒您：在使用鲸准航运服务之前，请您务必仔细阅读并透彻理解本免责说明。您可以主动取消或停止使用鲸准航运提供的服务，但如果您使用鲸准航运服务，您的使用行为将被视为对本免责说明全部内容的认可。</p>
                        <p>您完全理解并同意，鉴于鲸准航运以非人工检索方式、根据您键入的关键字或点击特定的产品或服务关键字自动生成的页面链接或相关的产品信息描述，例如船期、节点信息、车辆信息等，上述非人工检索方式，因缓存时间间隔或检索方式非完全智能等原因，有可能造成信息更新不及时或产品服务信息聚合、抽取不精准等瑕疵，您完全理解并豁免上述产品或服务瑕疵给您造成的不便，鲸准航运不承担任何责任。</p>
                        <p>为方便您的使用，鲸准航运可能会对产品的可信赖程度而进行的评级、推荐或风险提示仅供您参考，鲸准航运不担保该等评级、推荐或风险提示的准确性和完整性，对推荐的内容及服务亦不承担任何责任。</p>
                        <p>您完全理解并同意，您通过鲸准航运购买的产品和服务，应按照相关页面中展示的说明、规定或政策等履行相关义务，享有相关权利，该等说明、规定或政策等与本说明共同构成您和鲸准航运的整体协议，您必须严格遵守。</p>
                        <p>您了解并理解，您在鲸准航运平台上发布的图形、图片或个人言论等，均表示了您个人的观点、观念和思想，并不代表鲸准航运的观点或主张，对于在享受服务的过程中可能会接触到令人不快、不适当等内容的，由您个人自行加以判断并承担所有风险，鲸准航运不承担任何责任。</p>
                        <p>您了解并理解，本平台提供的三方信息，含船期、三方公司企业资料等在内的信息不能作为您的判断依据。三方信息只能作为一个决策参考，鲸准航运只针对其中已缴纳保证金的企业承担兼管风险，请您谨慎决定与第三方发生交易行为，由于私下交易造成的损失，鲸准航运不承担任何责任。</p>
                        <p>您完全理解并同意，通过鲸准航运购买的产品和服务时，您在预定产品或服务后应当及时付款；您在预定产品或服务后未全额支付前，您尚未完成购买上述产品或服务。因上述产品或服务的内容实时更新或变化而造成您的额外费用、损失或无库存等，由您自行承担，鲸准航运不承担任何责任。您完全理解并同意，您在支付过程中，因网络中断、银行反馈信息错误等非鲸准航运的原因造成的付款失败，由您自行承担，鲸准航运不承担任何责任。</p>
                        <p>请您及时保存或备份您的文字、图片等其他信息，您完全理解并同意，由于鲸准航运储存设备有限、设备故障、设备更新或设备受到攻击等设备原因或人为原因，您使用网路服务储存的信息或数据等全部或部分发生删除、毁损、灭失或无法恢复的风险，均由您自行承担，鲸准航运不承担任何责任。</p>
                        <p>本免责声明要与中华人民共和国法律解析一致，包括法律条款中有争议抵触的内容，您和鲸准航运一致同意服从法院的管辖。若有任何服务条款与法律相抵触，那这些条款将按尽可能接近的方法重新解析，而其它条款则保持对用户产生法律效力和影响。因解释本协议以及用户通过鲸准航运预订任何产品或服务而导致的争议，将同意接受中华人民共和国大陆地区法院的管辖。</p>
                        <p>鲸准航运隐私政策</p>
                        <p>欢迎您使用鲸准航运！鲸准航运提醒您：在使用鲸准航运产品或服务前，请您务必仔细阅读并透彻理解本隐私政策全部条款。您可以主动取消或停止使用鲸准航运提供的服务，但如果您使用鲸准航运服务，您的使用行为将被视为对本声明全部内容的认可。</p>
                        <p>第一条 隐私政策的确认和接纳</p>
                        <p>尊重用户个人隐私是上海鲸准航运服务有限公司的一项基本政策。鲸准航运和有资质的的供应商提供的服务供用户查阅，同时帮助用户完成服务项目。用户通过注册并点击“完成注册”的按钮，表示用户明确知晓本隐私政策所列事实，并与上海鲸准航运服务有限公司达成协议并接受所有的服务条款。 我们十分注重保护用户的个人信息及隐私安全，我们理解您通过网络向我们提供信息是建立在对我们信任的基础上，我们重视这种信任，也深知隐私对您的重要性，并尽最大努力全力保护您的隐私。</p>
                        <p>第二条 信息收集</p>
                        <p>为了更好地为您提供服务，鲸准航运将遵循“合理、相关、必要”原则，且以您同意为前提收集信息，不会收集法律法规禁止收集的信息。</p>
                        <p>上海鲸准航运服务有限公司不会公开、透露用户的个人资料及保存在鲸准航运会员服务中的非公开内容，除非有法律许可要求或上海鲸准航运服务有限公司在诚信的基础上认为透露这些信息在以下三种情况是必要的：</p>
                        <p>⑴ 遵守有关法律规定，遵从上海鲸准航运服务有限公司合法服务程序。</p>
                        <p>⑵ 保持维护鲸准航运的商标所有权。</p>
                        <p>⑶ 在紧急情况下竭力维护用户个人和社会大众的隐私安全。</p>
                        <p>⑷ 符合其他相关的要求。</p>
                        <p>第三条 特别授权</p>
                        <p>一般来说，我们将采取合理的措施保护您的个人信息，使其避免未经授权的披露。在遵守适用法律的前提下，我们可能会与下列实体（可能包括中国境内和中国境外实体）分享您的信息。您完全理解并不可撤销地、免费地授予上海鲸准航运服务有限公司及其关联公司、业务合作伙伴下列权利：</p>
                        <p>1.如果您是个人用户，您在使用鲸准航运产品的同时，将无条件授权并同意接受鲸准航运将您名下拥有或挂靠的车辆的信息（当前位置、历史轨迹和其他信息）向平台上其他用户开放。</p>
                        <p>2.如果您认证成为企业用户，您在使用鲸准航运产品的同时，将无条件授权并同意接受鲸准航运将认证企业名下拥有或挂靠的车辆的信息（当前位置、历史轨迹和其他信息）向平台上其他用户开放。</p>
                        <p>3.为确保交易安全，允许鲸准航运及其关联公司、业务合作伙伴对用户信息进行数据分析，并允许鲸准航运及其关联公司、业务合作伙伴对上述分析结果进行商业利用。</p>
                        <p>4.鲸准航运会从关联公司、业务合作伙伴来源获得您的相关信息。例如当您通过我们关联公司、业务合作伙伴网站预订时，您向其提供的预订信息可能会转交给我们，以便我们处理您的订单、确保您顺利接受服务。</p>
                        <p>5.您在享受鲸准航运提供的各项服务的同时，授权并同意接受鲸准航运向您的电子邮件、手机、通信地址等发送商业信息，包括不限于最新的鲸准航运产品信息、活动信息等。</p>
                        <p>第四条 法律</p>
                        <p>隐私政策要与该国的国家法律解析一致，包括法律条款中有争议抵触的内容。用户和上海鲸准航运服务有限公司一致同意服从法院的管辖。若有任何服务条款与法律相抵触，那这些条款将按尽可能接近的方法重新解析，而其它条款则保持对用户产生法律效力和影响，因解释本协议以及用户通过鲸准航运使用任何产品或服务而导致的争议，将同意接受中华人民共和国大陆地区法院的管辖。</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>