<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="manifest" href="/manifest.json" />
    
    <link href="/css/common.css" rel="stylesheet" />
    <link href="/css/base.css" rel="stylesheet" />
    <script src="/lib/ionic/js/ionic.bundle.js"></script>
    <script src="/cordova.js"></script>
    <script src="/js/app.js"></script>
    
    <script src="/js/loginController.js"></script>
    <script src="/js/services.js"></script>
    <script src="/lib/ionic/js/angular-resource.min.js"></script>
    <script src="/lib/ionic/js/angular-cookies.min.js"></script>
    <script src="/lib/ionic/js/jquery-1.11.3.min.js"></script>
    <script src="/lib/ionic/js/jquery.cookie.js"></script>
</head>
<body ng-app="starter"  ng-controller="loginController" ng-init=getCodeInit()>
    <div class="view">
        <!-- <div class="welcome-words">
             <h1>注册</h1>
             <a href="#" class="fl"><i class="text-icon icon-back"></i></a>   <a href="#" class="fr"><i class="text-icon icon-more"></i></a> </div>
       </div> -->
       <div class="title2">请输入验证码
       <p class="title_s">验证码已发送至  <span>+{{model.phonecode}}&nbsp;{{model.phone}}</span></p></div>
       
              <div class="login">
              <form>
              <ul class="inputzone1">
              <li> <label><input type="text" name=""  ng-model="model.code1" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');"></label></li>
              <li> <label><input type="text" name=""  ng-model="model.code2" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');"></label></li>
              <li> <label><input type="text" name=""  ng-model="model.code3" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');"></label></li>
              <li> <label><input type="text" name=""  ng-model="model.code4" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-change="checkcode()"></label></li>
              <div class="c"></div>
              </ul>              
                
               </form>
               <div class="other-operation"> <span class="fl"><em id="miao">10</em>秒后重新获取 <a href="#" style="color:#0066FF; display: ;" ng-click="getCodeInit()" id="codebutton">获取验证码</a></span>
               
                </div> 
            
             </div>
       <div class="other">
           <p>底部文字信息？<a href="#">底部链接文字</a></p>
       </div>
       
</body>
</html>